.block_users {
  .title_users {
    & > h2 {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #00254d;
      margin-bottom: 16px;
    }
  }
  .form_to_add {
    .create_user {
      .input_link {
        .block_sufix {
          cursor: pointer;
        }
        .ant-input-affix-wrapper {
          border: solid 1px #b2beca;
          &:hover {
            border: solid 1px #b2beca !important;
          }
        }
      }
    }
  }
}
