.block_users {
  .title_users {
    & > h2 {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #00254d;
      margin-bottom: 16px;
    }
  }
  .form_to_add {
    .ant-row {
      .ant-col {
        transition: all 0.3s ease;
      }
    }
    .input_link {
      position: relative;
      input {
        border-color: #b2beca;
      }
      .suffix-search {
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 8px;
        width: 24px;
        height: 24px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ant-input-affix-wrapper {
        border: solid 1px #b2beca;
        &:hover {
          border: solid 1px #b2beca !important;
        }
      }
    }
  }
}
