.ant-table-wrapper.table_companies {
  margin-top: 32px;
  .ant-table {
    .ant-table-thead {
      tr {
        th {
          background-color: #ffffff;
          border-top: 1px solid #b2beca;
          border-bottom: 1px solid #b2beca;
          padding: 4.5px 16px;
          white-space: nowrap;
          font-size: 9px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: -0.1px;
          color: #b2beca;
          text-transform: uppercase;
          height: 33px;
          &:first-child {
            white-space: nowrap;
            width: calc(100% - 90%);
            padding-right: 0px;
          }
          &:nth-child(2) {
            padding-left: 0px;
          }

          &:nth-child(4) {
            white-space: nowrap;
            width: calc(100% - 42%);
            padding-right: 0px;
          }
          &::before {
            display: none;
          }
        }
      }
    }
    .ant-table-tbody {
      tr {
        &:nth-child(even) {
          background-color: rgba(178, 190, 202, 0.1);
        }
        &:hover {
          td {
            background-color: rgba(255, 180, 10, 0.1);
          }
        }
        td {
          &:nth-child(2) {
            padding-left: 0px;
            white-space: nowrap;
            width: calc(100% - 70%);
          }
          &:nth-child(4) {
            max-width: 220px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &:nth-child(5) {
            min-width: 114px;
          }
          &.company_phone,
          &.company_name {
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.1px;
            color: #00254d;
          }
          padding: 8px 16px;
          border-bottom: hidden;
          .logo {
            display: block;
            position: relative;
            width: 32px;
            height: 32px;
            overflow: hidden;
            img {
              width: auto;
              height: 100%;
              object-fit: contain;
            }
          }
          .actions_block {
            width: 80%;
            margin: 0px auto 0px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
              cursor: pointer;
              &:nth-child(1) {
                align-self: flex-start;
              }
            }
          }
        }
      }
    }
  }
}
