.ant-modal.modal_createUser {
  margin-top: 68px;

  .ant-modal-close-x {
    margin-top: 4px;
  }
  .ant-modal-body {
    padding: 20px 48px 48px 48px;
    #user_create {
      //height: 388px;
      border-radius: 4px;
      & > h2 {
        margin-top: 28px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #00254d;
      }
      .ant-row.ant-form-item.email {
        margin-top: 15px;
      }
      .checkBox {
        #user_create_role {
          .ant-row {
            margin-left: -8px !important;
            .ant-col {
              padding-left: 0px !important;
              label {
                opacity: 1;
                position: relative;
                .ant-radio {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 10;
                  width: 88px;
                  height: 40px;
                  opacity: 0;
                }
                button {
                  min-width: 88px;
                  background-color: transparent;
                  border: solid 1px #ffb40a;
                  color: #00254d;
                  font-size: 13px;
                  font-weight: 600;
                }
              }
              label.ant-radio-wrapper-checked {
                button {
                  background-color: #ffb40a;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
      .submit__cancel_user {
        margin: 0px 57px;
      }
    }
  }
}
