.ant-modal.modal_deleteUser {
  margin-top: 68px;

  .ant-modal-close-x {
    margin-top: 4px;
  }
  .ant-modal-body {
    padding: 20px 48px 48px 48px;
    #user_delete {
      //height: 388px;
      border-radius: 4px;
      p {
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        letter-spacing: -0.1px;
        color: #00254d;
        margin-top: 30px;
        margin-bottom: 48px;
      }
      & > h2 {
        margin-top: 28px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #00254d;
      }
      .submit__cancel_delete_user {
        margin: 0px 57px;
      }
    }
  }
}
