.info_from_tab {
  .form_add_company.editMode {
    margin-top: 21px;
    .line {
      display: none !important;
      hr {
        margin-top: 11.5px;
        border: none;
        color: rgba(178, 190, 202, 0.4);
        background-color: rgba(178, 190, 202, 0.4);
        height: 1px;
      }
    }
    .after_line_block {
      h2 {
        font-size: 14px;
        margin-top: 10px;
      }
    }
    .row_address {
      .extra {
        span {
          position: absolute;
          cursor: pointer;
          top: 0px;
          right: 18px;
          font-family: Montserrat;
          font-size: 11px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: -0.1px;
          color: #ffb40a;
          z-index: 1;
        }
      }
      .address_column {
        margin-top: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
      }
    }
    .btns {
      margin-top: 27px;
    }
    .ant-form-item-control-input-content {
      h3 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0px;
      }
    }
  }
}
