.ant-table-wrapper.table_users {
  .ant-table {
    .ant-table-thead {
      tr {
        th {
          background-color: #ffffff;
          border-top: 1px solid #b2beca;
          border-bottom: 1px solid #b2beca;
          padding: 4.5px 16px;
          &::before {
            display: none;
          }
        }
      }
    }
    .ant-table-tbody {
      tr {
        &:nth-child(even) {
          background-color: rgba(178, 190, 202, 0.1);
        }
        &:hover {
          td {
            background-color: unset;
          }
        }
        td {
          &.company_phone,
          &.company_name {
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.1px;
            color: #00254d;
          }
          padding: 8px 16px;
          border-bottom: hidden;
          .logo {
            display: block;
            position: relative;
            width: 32px;
            height: 32px;
            overflow: hidden;
            img {
              width: auto;
              height: 100%;
              object-fit: contain;
            }
          }
          .actions_block {
            width: 80%;
            margin: 0px auto 0px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
              cursor: pointer;
              &:nth-child(1) {
                align-self: flex-start;
              }
            }
          }
        }
      }
    }
  }
}
