header.header_wrapper_configuration {
  min-width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 0px 48px 0px 36px;
  border-bottom: 1px solid rgba(178, 190, 202, 0.5);

  .header_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      width: 120px;
      margin-right: 60px;
    }
    .logo > div {
      height: 55px;
      display: flex;
      align-items: center;
      position: relative;
      &:after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -30px;
        background-color: rgba(178, 190, 202, 0.5);
      }
    }
    .block {
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .solar {
        flex: auto;
        h2 {
          font-size: 20px;
        }
      }
      .corner_container {
        position: relative;
        .dropMenuQuestion {
          left: -152px !important;
          top: 51px !important;
          .dropDown_block_question {
            width: 248px;
            border-radius: 4px;
            box-shadow: 0 8px 16px 0 rgba(0, 25, 94, 0.1);
            border: solid 1px rgba(178, 190, 202, 0.4);
            background-color: #ffffff;
            form {
              margin: 16px;
            }
            ul {
              width: 100%;
              border-radius: 0px;
              box-shadow: none;
              border: none;
              padding: 0px;
              li.ant-menu-item-active {
                background-color: rgba(178, 190, 202, 0.15) !important;
              }
              li {
                margin-bottom: 0px;
                margin-top: 0px;
                background-color: #ffffff;
                &:nth-child(2) {
                  border-bottom: 1px solid rgba(178, 190, 202, 0.15);
                }
              }
            }
            .ticket {
              font-size: 13px;
              font-weight: 600;
              margin: 9px 14px 17px;
              text-transform: uppercase;
              cursor: pointer;
              display: inline-block;
              padding: 2px;
            }
          }
        }

        .dropMenuProfile {
          left: 0px !important;
          top: 51px !important;
        }
        .ant-dropdown {
          ul {
            width: 146px;
            padding: 8px 1px 19px;
            border-radius: 4px;
            box-shadow: 0 8px 16px 0 rgba(0, 25, 94, 0.1);
            border: solid 1px rgba(178, 190, 202, 0.4);
            background-color: #ffffff;
            li.ant-dropdown-menu-item.ant-dropdown-menu-item-active {
              background-color: rgba(178, 190, 202, 0.15);
            }
            li {
              span {
                h4 {
                  font-weight: 500;
                  font-size: 12px;
                  letter-spacing: -0.1px;
                }
              }
            }
          }
        }
        .pinion {
          margin-right: 20px;
          cursor: pointer;
        }
        .question {
          margin-right: 24px;
          padding: 3px;
          display: flex;
        }
        display: flex;
        align-items: center;
        button {
          border: none;
          padding: 0;
          &:hover {
            background-color: transparent;
          }
        }

        .photo_drop {
          display: flex;
          align-items: center;
          .drop {
            padding: 3px;
          }
          .user_photo {
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 8px;
            img {
              width: auto;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
