.app-dashboard.admin_profile {
  &.allow_over {
    overflow: visible;
  }
  //max-width: 1920px;
  min-height: 100vh;
  overflow: hidden;
  min-width: 1170px;
  height: 100vh;
  overflow-x: visible;
  .wrapper {
    .container_info {
      .back {
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        p {
          font-size: 13px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.38;
          letter-spacing: -0.09px;
          text-align: center;
          color: #ffb40a;
          margin-left: 8px;
        }
      }
      .forms_container {
        display: flex;
        //flex-wrap: wrap;

        .form_profile {
          .information {
            h2 {
              font-size: 16px;
              margin-bottom: 35px;
              margin-top: 0px;
            }
          }
          //flex-basis: 572px;
          width: calc(100% / 2);
          //min-width: 572px;
          height: 460px;
          padding: 32px 40px 48px 32px;
          border-radius: 4px;
          box-shadow: 0 1px 4px 0 rgba(0, 25, 94, 0.2);
          background-color: #ffffff;
          .blocks_wrapper {
            display: flex;
            flex-direction: row;

            .selfi_wrapper {
              width: 128px;
              .centeredIMG {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 16px;
              }
              .selfi {
                display: block;
                position: relative;
                width: 96px;
                height: 96px;
                overflow: hidden;
                border-radius: 50%;
                img {
                  width: auto;
                  height: 100%;
                  object-fit: contain;
                }
              }

              .change {
                width: 54%;
                margin: 0px auto 16px auto;
              }
              .delete {
                width: 46%;
                margin: 0 auto;
              }
              .change,
              .delete {
                .SVG_reload,
                .SVG_delete {
                  cursor: pointer;

                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  p {
                    font-size: 13px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: -0.09px;
                    color: #ffb40a;
                    text-decoration: underline;
                  }
                }
              }
            }

            .form_password {
              margin-left: 40px;
              flex: auto;
              .form_FL_name {
                .ant-row.ant-form-item {
                  .ant-btn.ant-btn-primary.btn_save_prof {
                    margin-top: 19.5px;
                    margin-bottom: 28px;
                  }
                }
              }
            }
          }
        }
        .change_password_block {
          margin-bottom: 40px;
          width: 572px;
          //min-width: 572px;
          //flex-basis: 572px;
          padding: 32px 0px 48px 32px;
          height: 140px;
          border-radius: 4px;
          box-shadow: 0 1px 4px 0 rgba(0, 25, 94, 0.2);
          background-color: #ffffff;
          margin-left: 28px;

          & > h2 {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 0px;
          }
          & > span {
            display: inline-block;
            font-family: Montserrat;
            padding: 3px 3px 3px 0px;
            margin-top: 10px;
            font-size: 13px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: -0.09px;
            color: #ffb40a;
            text-decoration: underline;
            cursor: pointer;
          }
          &.full_form {
            height: 460px;
            .ant-form.change_password_form {
              max-width: 332px;
              margin-top: 35px;
              .ant-col {
                .ant-row {
                  .ant-col.ant-form-item-control {
                    .showPassFirst,
                    .showPassSecond,
                    .showPassThird {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      margin: auto;
                      position: absolute;
                      top: 50%;
                      right: 0px;
                      transform: translateY(-50%);
                      margin-right: 16px;
                      cursor: pointer;
                    }
                  }
                  margin-bottom: 20.5px;
                  .ant-col.ant-form-item-label {
                    padding-bottom: 0px !important;
                  }
                }
              }
            }
          }
        }
        .wraper_2_blocks {
          display: flex;
          flex-direction: column;
          .organisation {
            width: 572px;
            height: 290px;
            padding: 32px 32px 48px;
            border-radius: 4px;
            box-shadow: 0 1px 4px 0 rgba(0, 25, 94, 0.2);
            background-color: #ffffff;
            margin-left: 28px;
            margin-bottom: 24px;
            .form_profile_admin {
              margin-top: 34px;
            }
            h2 {
              font-size: 16px;
              margin-top: 0px;
            }
          }
        }
      }
    }
    h2 {
      font-size: 20px;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
}
