.guest {
  position: relative;
  background-color: #f8f9fa !important;
}

.guest.login-page {
  max-width: 1920px;
  min-height: 100vh;
  overflow: hidden;
  background: url('../../icons/illustration.svg') no-repeat bottom;
  background-size: 100% auto;
  min-width: 1170px;
  height: 100vh;
  overflow-x: visible;
}
