.ant-modal.modal_editUser {
  margin-top: 68px;

  .ant-modal-close-x {
    margin-top: 4px;
  }
  .ant-modal-body {
    padding: 20px 48px 48px 48px;
    #edit_human {
      .ant-col {
        .exept {
          margin-bottom: 36px;
        }
        .block_info {
          margin-top: 32px;
          width: 448px;
          padding: 12px 16px 12px 16px;
          box-shadow: 0 1px 4px 0 rgba(0, 25, 94, 0.2);
          background-color: #ffffff;
          .direction {
            display: flex;
            flex-direction: row;
            align-items: center;
            .wrapper_img {
              width: 32px;
              height: 32px;
              overflow: hidden;
              border-radius: 50%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .infos {
              h3 {
                margin: 0px;
                margin-left: 8px;
                letter-spacing: normal;
                &:first-child {
                  font-size: 13px;
                  font-weight: 600;
                }
                &:last-child {
                  font-size: 13px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
      //height: 388px;
      border-radius: 4px;
      & > h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #00254d;
      }
      .ant-row.ant-form-item.email {
        margin-top: 15px;
      }
      .checkBox {
        #edit_human_role {
          .ant-row {
            margin-left: -8px !important;
            .col-exp {
              padding: 0px !important;

              margin-left: 38px;
            }
            .ant-col {
              padding-left: 0px !important;
              label {
                opacity: 1;
                position: relative;
                .ant-btn.ant-btn-button.user_btn {
                  position: relative;
                  &::after {
                    content: 'User Type';
                    opacity: 0.5;
                    font-family: Montserrat;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: -0.1px;
                    color: #00254d;
                    position: absolute;
                    top: -16px;
                    left: 0px;
                  }
                }
                .admin_btn {
                  // margin-left: 34.5px;
                  max-width: 88px;
                }
                .ant-radio {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 10;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                }
                button {
                  min-width: 88px;
                  background-color: transparent;
                  border: solid 0px #ffffff;
                  color: #00254d;
                  font-size: 13px;
                  font-weight: 600;
                  box-shadow: 0 1px 2px 0 rgba(0, 25, 94, 0.2);
                }
              }
              label.ant-radio-wrapper-checked {
                button {
                  background-color: #ffb40a;
                  color: #ffffff;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
      .submit__cancel_user {
        margin: 48px 57px 0px 57px;
      }
    }
  }
}
